@import './mixin'

space-1 = 32px
space-2 = 8px

color-1 = #565445
color-2 = #cdcbbc
color-3 = #fffdf3

body
	margin: 0
	padding: space-1

	background: color-3
	color: color-1

a
	color: color-2
	text-decoration: none

a:hover
	color: color-1

.page
	margin: auto
	padding: 0

	max-width: 512px

.line
	margin: 0
	margin-top: space-1
	margin-bottom: space-2
	padding: 0

	height: 0.5em

	text-align: center

	border-bottom: 1px solid color-2
	color: color-2

	span
		padding-left: space-2
		padding-right: space-2
		background: color-3
