@import './mixin'

space-1 = 32px
space-2 = 8px

color-1 = #565445
color-2 = #cdcbbc
color-3 = #fffdf3

body
	margin: 0
	padding: space-1

	background: color-3
	color: color-1

a
	color: color-1
	text-decoration: none

a.link
	color: color-2

a:hover
	color: color-1

.stack > *:not(.active)
	display: none

.page
	margin: auto
	padding: 0

	max-width: 512px

.line
	margin: 0
	margin-top: space-1
	margin-bottom: space-1
	padding: 0

	height: 0.5em

	text-align: center

	border-bottom: 1px solid color-2
	color: color-2

	span
		padding-left: space-2
		padding-right: space-2
		background: color-3

arr()
	font-size: space-1
	vertical-align: top

.larr
	arr()
	float: left

.rarr
	arr()
	float: right
